.header {
    background: $color-primary;
    padding: 2rem;
    margin-bottom: 2rem;
    border-bottom: 5px solid $color-secondary;

    .area {
        .navigation {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            height: auto;

            .navbar {
                list-style: none;
                width: 100%;
                margin: 0;
                display: flex;
                align-items: center;
                justify-content: center;

                &>li {
                    margin: 10px 20px;
                    transition: all .2s;

                    &.active  , &:hover{
                        background: #13846e;
                    }

                    &>a {
                        color: $color-white;
                        text-decoration: none;
                        display: block;
                        padding: .5rem 1rem;
                    }
                }
            }
        }
    }
}