//table styles
table * {
    position: relative;
}

table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

table thead tr {
    height: 60px;
    background: $color-primary;
}

.table-head th {
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset;
}

table tbody tr {
    height: 50px;
}

tbody tr {
    font-size: 15px;
    line-height: 1.2;
    font-weight: unset;
}

table td,
table th {
    text-align: right;
    padding: 0.5rem;
}

tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

tbody tr:hover {
    color: #555555;
    background-color: #f5f5f5;
    cursor: pointer;
}

//table styles